<div class="screen" ng-controller="TownCtrl" ng-init="buildHero()">

    <div class="header">
        <p class="medium-text white-text center-text">Town</p>
    </div>

    <div class="scroller" scrollable>
        <div ng-if="townScreen == 'town'" class="fadeIn">
            <ul class="button-list medium-text center-text yellow-text">
                <li hm-tap="buy()" class="button primary-background"><span>General Store</span></li>
                <li hm-tap="sell()" class="button primary-background"><span>Pawn Shop</span></li>
                <li hm-tap="forge()" class="button primary-background"><span>Forge</span></li>
                <li hm-tap="heal()" class="button primary-background"><span>Infirmary</span></li>
            </ul>
        </div>

        <!-- buy screen -->
        <div ng-if="townScreen == 'buy'" class="fadeIn">
            <div ng-if="!itemToBuy" class="white-background black-text center-text overflow-auto small-margin-bottom">
                <p class="town-heading primary-text medium-text width-90">The General Store</p>
                <p class="width-90 medium-margin-bottom">You have <span class="yellow-text">{{play.hero.gold}} gold</span></p>
            </div>
            
            <div ng-show="itemsForSale.length == 0">
                <p class="white-text medium-margin-top medium-margin-bottom">Nothing useful for sale at this time.</p>
                <div class="small-button">
                    <span class="black-text white-background center-text" hm-tap="resetTown()">Back to Town</span>
                </div>
            </div>
            
            <ul ng-if="!itemToBuy && itemsForSale.length > 0" class="expanding-list">
                <li class="white-background small-margin-bottom black-text small-text">
                    <div hm-tap="resetTown()">
                        <p class="small-list-item overflow-auto pointer">
                            <span class="black-text">Back to Town</span>
                        </p>
                    </div>
                </li>
                <li class="primary-background small-margin-bottom yellow-text" ng-repeat="item in itemsForSale track by $index">
                    <div hm-tap="selectItemToBuy(item)" class="primary-background">
                        <p class="small-list-item overflow-auto width-90 pointer">
                            <span class="small-text">{{item.name}}</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div ng-if="itemToBuy" class="primary-background item-inspect black-text center-text overflow-auto">
                <p class="item-name yellow-text medium-text medium-margin-bottom width-90  pointer" hm-tap="closeBuyItem()">
                    <span>{{itemToBuy.name}}</span>
                </p> 
                <ul class="medium-margin-bottom">
                    <li ng-show="itemToBuy.class == 'armor'">Armor: <span class="white-text">{{itemToBuy.value}}</span></li>
                    <li ng-show="itemToBuy.class == 'weapon'">Damage: <span class="white-text">{{itemToBuy.value}}</span></li>
                    <li ng-show="itemToBuy.strength > 0">Strength: <span class="white-text">+{{itemToBuy.strength}}</span></li>
                    <li ng-show="itemToBuy.vitality > 0">Vitality: <span class="white-text">+{{itemToBuy.vitality}}</span></li>
                    <li ng-show="itemToBuy.agility > 0">Agility: <span class="white-text">+{{itemToBuy.agility}}</span></li>
                    <li ng-show="itemToBuy.maxLife > 0">Life: <span class="white-text">+{{itemToBuy.maxLife}}</span></li>
                    <li ng-show="itemToBuy.haste > 0">Haste: <span class="white-text">+{{itemToBuy.haste}}</span></li>
                    <li>Weight: <span class="white-text">{{itemToBuy.weight}}</span></li>
                    <li>Cost: <span class="white-text">{{itemToBuy.worth}} gold</span></li>
                </ul>
                
                <div class="button" ng-show="canAfford(itemToBuy.worth) && !itemToBuy.buy && itemToBuy.selectedToBuy">
                    <span class="medium-text yellow-background black-text pointer" hm-tap="itemToBuy.buy = true">Buy</span>
                </div>

                <p ng-show="canAfford(itemToBuy.worth) && !itemToBuy.buy && itemToBuy.selectedToBuy" class="big-margin-top medium-padding-bottom pointer" hm-tap="closeBuyItem()">Back</p>

                <div ng-hide="canAfford(itemToBuy.worth)">
                    <p class="black-text medium-margin-bottom">You don't have the <span class="yellow-text">{{itemToBuy.worth}} gold</span> needed to buy this item</p>

                    <div class="small-button">
                        <span class="black-text white-background center-text" hm-tap="closeBuyItem()">Back</span>
                    </div>
                </div>

                <div ng-show="itemToBuy.buy" class="item-bought">
                    <p class="black-text center-text medium-margin-bottom">Pay <span class="yellow-text">{{itemToBuy.worth}} gold</span>?</p>
                    <div class="two-option-menu">
                        <div class="medium-text float-left">
                            <span class="black-background white-text pointer" hm-tap="itemToBuy.buy = false">No</span>
                        </div>
                        <div class="medium-text float-right">
                            <span class="yellow-background black-text pointer" hm-tap="buyItem()">Yes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sell screen -->
        <div ng-if="townScreen == 'sell'" class="fadeIn">
            <div ng-if="!itemToSell" class="white-background black-text center-text overflow-auto small-margin-bottom">
                <p class="town-heading primary-text center-text medium-text">The Pawn Shop</p>
                <p class="width-90 medium-margin-bottom">You have <span class="yellow-text">{{play.hero.gold}} gold</span></p>
            </div>

            <div class="center-text primary-text big-margin-top" ng-show="play.hero.inventoryItems.length == 0">
                <p class="small-margin-bottom white-text">No inventory items</p>
                <p class="medium-margin-bottom">You cannot sell equipped items</p>

                <div class="small-button">
                    <span class="black-text white-background center-text" hm-tap="resetTown()">Back to Town</span>
                </div>
            </div>

            <ul ng-if="!itemToSell" class="expanding-list" ng-show="play.hero.inventoryItems.length > 0">
                <li class="white-background small-margin-bottom black-text small-text">
                    <div hm-tap="resetTown()">
                        <p class="small-list-item overflow-auto pointer">
                            <span class="black-text">Back to Town</span>
                        </p>
                    </div>
                </li>
                <li class="primary-background small-margin-bottom yellow-text" ng-repeat="item in play.hero.inventoryItems track by $index">
                    <div hm-tap="selectItemToSell(item)" class="primary-background">
                        <p class="small-list-item overflow-auto width-90 pointer">
                            <span class="small-text">{{item.name}}</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div ng-if="itemToSell" class="primary-background item-inspect black-text center-text overflow-auto">
                <p class="item-name yellow-text medium-text medium-margin-bottom width-90 pointer" hm-tap="closeSellItem()">
                    <span>{{itemToSell.name}}</span>
                </p> 
                <ul class="medium-margin-bottom">
                    <li ng-show="itemToSell.fingerprint.length < 4" class="center-text black-text">{{itemToSell.type}}</li>
                    <li ng-show="itemToSell.class == 'armor'">Armor: <span class="white-text">{{itemToSell.value}}</span></li>
                    <li ng-show="itemToSell.class == 'weapon'">Damage: <span class="white-text">{{itemToSell.value}}</span></li>
                    <li ng-show="itemToSell.strength > 0">Strength: <span class="white-text">+{{itemToSell.strength}}</span></li>
                    <li ng-show="itemToSell.vitality > 0">Vitality: <span class="white-text">+{{itemToSell.vitality}}</span></li>
                    <li ng-show="itemToSell.agility > 0">Agility: <span class="white-text">+{{itemToSell.agility}}</span></li>
                    <li ng-show="itemToSell.maxLife > 0">Life: <span class="white-text">+{{itemToSell.maxLife}}</span></li>
                    <li ng-show="itemToSell.haste > 0">Haste: <span class="white-text">+{{itemToSell.haste}}</span></li>
                    <li>Weight: <span class="white-text">{{itemToSell.weight}}</span></li>
                    <li>Worth: <span class="white-text">{{itemToSell.worth}} gold</span></li>
                </ul>
                
                <div class="button" ng-show="!itemToSell.sell && itemToSell.selectedToSell">
                    <span class="yellow-background medium-text black-text pointer center-text" hm-tap="itemToSell.sell = true">Sell</span>
                </div>

                <p ng-show="!itemToSell.sell && itemToSell.selectedToSell" class="big-margin-top medium-padding-bottom pointer" hm-tap="closeSellItem()">Back</p>

                <div ng-show="itemToSell.sell" class="item-sold">
                    <p class="black-text center-text medium-margin-bottom">Sell for <span class="yellow-text">{{itemToSell.worth}} gold</span>?</p>
                    <div class="two-option-menu">
                        <div class="medium-text float-left">
                            <span class="black-background white-text pointer" hm-tap="itemToSell.sell = false">No</span>
                        </div>
                        <div class="medium-text float-right">
                            <span class="yellow-background black-text pointer" hm-tap="sellItem()">Yes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- forge screen -->
        <div ng-if="townScreen == 'forge'" class="fadeIn">
            <div ng-if="!itemToForge" class="white-background black-text center-text overflow-auto small-margin-bottom">
                <p class="town-heading primary-text medium-text center-text">The Forge</p>
                <p class="width-90 medium-margin-bottom">You have <span class="yellow-text">{{play.hero.gold}} gold</span></p>
            </div>

            <div ng-if="play.hero.inventoryItems.length == 0 && play.hero.equippedItems.length == 0" class="center-text primary-text big-margin-top">
                <p class="medium-margin-bottom white-text">You have no items to forge</p>
                <div class="small-button">
                    <span class="black-text white-background center-text" hm-tap="resetTown()">Back to Town</span>
                </div>
            </div>

            <ul ng-if="!itemToForge && (play.hero.inventoryItems.length > 0 || play.hero.equippedItems.length > 0)" class="expanding-list">
                <li class="white-background small-margin-bottom black-text small-text">
                    <div hm-tap="resetTown()">
                        <p class="small-list-item overflow-auto pointer">
                            <span class="black-text">Back to Town</span>
                        </p>
                    </div>
                </li>
                <li class="forge-label" ng-show="play.hero.equipped.length > 0"><p>Equipped Items</p></li>
                <li class="primary-background small-margin-bottom yellow-text" ng-repeat="item in play.hero.equippedItems">
                    <div hm-tap="selectItemToForge(item, 'equipped')" class="primary-background">
                        <p class="small-list-item overflow-auto width-90 pointer">
                            <span class="small-text">{{item.name}}</span>
                        </p>
                    </div>
                </li>
                <li class="forge-label" ng-show="play.hero.inventory.length > 0"><p>Bag Items</p></li>
                <li class="primary-background small-margin-bottom yellow-text" ng-repeat="item in play.hero.inventoryItems track by $index" ng-if="item.type != 'lifePotion'">
                    <div hm-tap="selectItemToForge(item, 'bag')" class="primary-background">
                        <p class="small-list-item overflow-auto width-90 pointer">
                            <span class="small-text">{{item.name}}</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div ng-if="itemToForge" class="primary-background item-inspect black-text center-text overflow-auto">
                <p class="item-name yellow-text medium-text medium-margin-bottom width-90 pointer" hm-tap="closeForgeItem()">{{itemToForge.name}}</p> 
                <ul class="medium-margin-bottom">
                    <li ng-show="itemToForge.fingerprint.length < 4" class="center-text black-text">{{itemToForge.type}}</li>
                    <li ng-show="itemToForge.class == 'armor'">Armor: <span class="white-text">{{itemToForge.value}}</span></li>
                    <li ng-show="itemToForge.class == 'weapon'">Damage: <span class="white-text">{{itemToForge.value}}</span></li>
                    <li ng-show="itemToForge.strength > 0">Strength: <span class="white-text">+{{itemToForge.strength}}</span></li>
                    <li ng-show="itemToForge.vitality > 0">Vitality: <span class="white-text">+{{itemToForge.vitality}}</span></li>
                    <li ng-show="itemToForge.agility > 0">Agility: <span class="white-text">+{{itemToForge.agility}}</span></li>
                    <li ng-show="itemToForge.maxLife > 0">Life: <span class="white-text">+{{itemToForge.maxLife}}</span></li>
                    <li ng-show="itemToForge.haste > 0">Haste: <span class="white-text">+{{itemToForge.haste}}</span></li>
                    <li>Weight: <span class="white-text">{{itemToForge.weight}}</span></li>
                    <li ng-hide="perfect">Forge cost: <span class="white-text">{{forgeCost}} gold</span></li>
                </ul>
                
                <div class="button" ng-show="canAfford(forgeCost) && !itemToForge.forge && !perfect">
                    <span class="yellow-background medium-text black-text pointer center-text" hm-tap="itemToForge.forge = true">Forge</span>
                </div>

                <p ng-show="perfect" class="yellow-text width-90 medium-margin-bottom">Muro can do nothing more with this item</p>

                <div ng-hide="canAfford(forgeCost) || perfect">
                    <p class="black-text medium-margin-bottom width-90">You don't have the <span class="yellow-text">{{forgeCost}} gold</span> needed to forge this item</p>
                </div>

                <div class="small-button" ng-show="!canAfford(forgeCost) || perfect">
                    <span class="black-text white-background center-text" hm-tap="closeForgeItem()">Back</span>
                </div>

                <p ng-show="!itemToForge.forge && canAfford(forgeCost)" class="big-margin-top medium-padding-bottom pointer" hm-tap="closeForgeItem()">Back</p>

                <div ng-show="itemToForge.forge" class="item-forged">
                    <p class="black-text center-text medium-margin-bottom">Pay <span class="yellow-text">{{forgeCost}} gold</span>?</p>
                    <div class="two-option-menu">
                        <div class="medium-text float-left">
                            <span class="black-background white-text pointer" hm-tap="itemToForge.forge = false">No</span>
                        </div>
                        <div class="medium-text float-right">
                            <span class="yellow-background black-text pointer" hm-tap="forgeItem()">Yes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- infirmary screen -->
        <div ng-if="townScreen == 'heal'" class="fadeIn">
            <div class="white-background black-text center-text overflow-auto small-margin-bottom">
                <p class="town-heading primary-text medium-text center-text">Infirmary</p>
                <p class="town-description width-90 desc-text">Healer Lelka will treat your wounds, for a price</p>
                <p class="width-90 medium-margin-bottom">You have <span class="yellow-text">{{play.hero.gold}} gold</span></p>
            </div>

            <div class="white-text big-margin-top medium-margin-bottom width-90">
                <p ng-show="injury">Healer Lelka can heal you for <span class="yellow-text">{{injuryCost}} gold</span></p>
                <p ng-hide="injury" class="small-margin-bottom">You have no injuries, enjoy your health while it lasts</p>
            </div>
            
            <div class="white-text button big-padding-bottom" ng-show="canAfford(injuryCost) && injury">
                <span class="primary-background" hm-tap="payHealer()">Heal</span>
            </div>

            <p ng-hide="canAfford(injuryCost)" class="primary-text big-margin-bottom width-90">You don't have the <span class="yellow-text">{{injuryCost}} gold</span> needed to be healed</p>

            <div class="small-button">
                <span class="black-text white-background center-text" hm-tap="resetTown()">Back to Town</span>
            </div>
        </div>
    </div>
</div>